body{
  font-family: sans-serif;
  color: #444;
  margin-top: 5%
}

h1, h2{
  font-weight: normal;
}

.alert-danger {
  padding: 7px
}

.jumbotron, .list-group-item, .list-group-item:first-child, 
.list-group-item:last-child, .form-control, .btn, .card {
  border-radius: 0
}

.invalid-feedback, .valid-feedback {
  font-size: 16px
}

.jumbotron h1 {
  letter-spacing: -3px
}

.custom-checkbox, .custom-control-label, .btn {
  cursor: pointer
}

.jumbotron span {
  color: #fff;
  padding: 5px
}

#movies-list ul, #tabbed-content ul{
  list-style-type: none;
  padding: 0;
}

#movies-list li{
  padding: 10px 0px 0 20px;
  border-left: 3px solid #ddd;
  margin: 5px 0;
}

#movies-list li:hover{
  border-color: #007bff
}

.btn-remove {
  float: right;
  position: relative;
  top: -5px;
  right: 10px;
}

.tabs {
  padding-left: 0
}

.tabs li{
  display: inline-block;
  padding: 5px;
  background: #ddd;
  cursor: pointer;
  margin-right: 10px;
}
